.about-me {
  width: 100%;
  position: relative;
  background-color: #2d3142;
  padding: 0.75em;
  height: fit-content;
}

.about-section {
    color: whitesmoke;    
}

.about-text {
    display: inline-block;
    width: 65%;
    padding: 1em;
}

.about-text h3 {
    text-align: center;
}

.about-img {
    padding-right: 2em;
    position: relative;
    bottom: 20em;
}

.guitar-img {
    padding: 1em;
    float: right;
    width: 15%;
    height: 15%;
}


