.App {
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: black
}

.banner-image {
  background-image: url(https://cdn1.i-scmp.com/sites/default/files/styles/2000x792/public/images/methode/2017/03/13/e6188a2e-edc7-11e6-8960-2c6b8565de23_1280x720.jpg?itok=8SAr3jwP);
  background-position: center;
  height: 500px;
  width: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}

.whitespace {
  height: 500px;
}