.menu a {
  text-decoration: none;
  color: black
}

.quote {
  position: absolute;
  display: block;
  color: black;
  font-family: 'Lato', sans-serif;
  bottom: 9em;
}


.banner-image {
  position: relative;
  display: inline;
}


.background-guitar {
  width: 100%;
  height: 100%;
}

.whitespace {
  height: 50px;
}