footer {
  background-color: darkgrey;
  height: 8em;
  width: 100%;
  bottom: 0;
  position: relative;
  border-top: 2px orange solid;
}

footer a {
    color: orange;
    text-decoration: none;
}

.info {
    padding-left: 20px;
    float: left;
}

footer h3 {
    text-decoration: underline;
} 