footer {
  background-color: #2d3142;
  height: 8em;
  width: 100%;
  bottom: 0;
  position: relative;
  border-top: 2px orange solid;
}

.info {
    color: whitesmoke;
    text-decoration: none;
    padding-left: 20px;
    float: left;
}

footer h3 {
    text-decoration: underline;
} 